{% extends 'Wardenapp/main.html' %}

{% block content %}
<style>
    body {
        background-color: rgb(148, 229, 240);
        }
</style>
    <h1>Welcome Mr.{{ warden_name|title }}</h1>
    <br>
    <div class="row" style="{background-color: powderblue;}">
        {% for i in warden %}
            <div class="col-lg-3 col-md-4 mb-3" style="width: 18rem;">
                <div class="card">
                    <img src="https://i.ibb.co/qJfRrXB/Screenshot-2020-11-26-13-01-14-22.jpg" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.Block_Name }}</h5>
                        <a href="{% url 'warden_floor1' i.Floor_Number_id %}" class="btn btn-primary">Click Here</a>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}