{% extends 'Wardenapp/main.html' %}

{% block content %}
    <h1>Welcome Warden</h1>
    {% for i in warden %}


        <div class="card" style="width: 18rem;">
            <img src="https://i.ibb.co/qJfRrXB/Screenshot-2020-11-26-13-01-14-22.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ i.Block_Name }}</h5>
                <a href="{% url 'warden_floor1' i.Floor_Number_id %}" class="btn btn-primary">Click Here</a>
            </div>
        </div>
        <hr>

    {% endfor %}
{% endblock %}