

{% extends 'Wardenapp/main.html' %}

{% block content %}
    <style>
    body {
background-color: rgb(148, 229, 240);

}
</style>
    <h1>Here you can find your allocated floors.</h1>
    <br>
        {% for i in floor_list %}
            <div align="center" class="col-3" >
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUQ30X9zHfGTkhk45n6heuUTyssEW99ElxRQ&usqp=CAU"
                         class="card-img-top" alt="...">
                    <div class="card-body" bgcolor="blue">
                        <h5 class="card-title">Floor No: {{ i.Floor_Number }}</h5>
                        <a href="{% url 'warden_rooms' i.id %}" class="btn btn-primary">Click Here</a>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}


