{% extends 'Wardenapp/main.html' %}

{% block content %}

    <form method="get">
        {{ myFilter.form }}
        <button class="btn btn-primary" type="submit">
            Search
        </button>
    </form>
    <br>
    <hr>
    <form method="POST" action="">
        {% csrf_token %}
        <p>Do you want to {{ form_hide }} </p>
        <input class="btn btn-primary btn-sm btn-success" type="submit" name="update">
    </form>
    <br>
    <hr>
    <table style="width:100%">
        <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        {% for i in student_list %}
            <tr>
                <td>{{ i.user }}</td>
                <td>{{ i.user.email }}</td>
                <td>{{ i.user.phone_number }}</td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}