{% extends "Wardenapp/main.html" %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block content %}
    <div class="form-group" style="margin:15px 10px 10px 25px ; width:30%">
<form method="post">
{% csrf_token %}
{{ form.as_p}}
<button class="btn btn-primary">change password</button>
</form>
        <br>
        <hr>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    </div>
{% endblock %}