<style>
    .hello-msg {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'cheif_warden_home' %}">Home</a>
            <a class="nav-item nav-link active" href="{% url 'create_block_view' %}">New Block</a>
            <a class="nav-item nav-link active " href="{% url 'create_floor' %}">NewFloor</a>
            <a class="nav-item nav-link active" href="{% url 'create_room' %}">NewRoom</a>
            <a class="nav-item nav-link active" href="{% url 'create_warden' %}">CreateWarden</a>
            <a class="nav-item nav-link active" href="{% url 'warden_list_name' %}">Warden list</a>


        </div>

    </div>
    <span class="hello-msg">Hello, {{ request.user|title }}!</span>
    <span><a class="hello-msg" href="{% url 'logout_page' %}">Logout</a></span>
</nav>