{% extends 'hostelapp/main.html' %}
{% load static %}
{% block content %}
<p><h1 color="red"><center>Welcome To Chatravaas {{request.user|title}}</center></h1></p>
<br>
<br>
    
<style>
    body {
        background-color: rgb(148, 229, 240);
        }
    .card{
        background-color: rgb(160, 255, 176);
        }
</style>
    <div class="card">
        <div class="card-body">
            {% if data_info %}
            {% for i in data_info %}
            <div align="middle">
                <h5 class="card-title">Student Name: {{ i.user|title }}</h5>
                <p>Student Email: {{ i.user.email }}</p>
                <p>Booked Room: {{ i.user_room|title }}</p>
                <p>Ref No: {{ i.id }}</p>
            </div>
            {% endfor %}
        {% else %}
                <h2 align="middle">Book a Hostel Room Here</h2>
                <br>
                <div align="middle"><a href="{% url 'block' %}" class="btn btn-primary btn-lg btn-warning">Book Here</a></div>
        {% endif %}
        </div>
    </div>
<br>
<br>

    <div class="card">
        <div class="card-body">
                <div class="container">
                    <div align="middle" class="row">
                      <div class="col-sm">
                        <h2>Request a Gate Pass Here</h2>
                        <br>
                        <a href="{% url 'gatepass' %}" class="btn btn-primary btn-lg btn-warning">Request Here</a>
                      </div>
                      
                      <div class="col-sm">
                        <h2>Check Gatepass Status Here</h2>
                        <br>
                        <a href="{% url 'gatepass_status' %}" class="btn btn-primary btn-lg btn-warning">Check Status</a>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
<br>
<br>
    <div class="card">
        <div class="card-body">
                <div class="container">
                    <div align='center'>
                    <h2 >Raise an Issue</h2>
                    <br>
                    <a href="{% url 'issue_student' %}" class="btn btn-primary btn-lg btn-warning">Raise Issue</a>
                </div>
            </div>
            </div>
        </div>
<br>
<br>



{% endblock %}

