{% extends 'hostelapp/main.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            background-color: rgb(148, 229, 240);

        }
    </style>
    <p><h1 align="middle">Please Select a Room</h1></p>
    <br>


    {% for i in roomlist %}
        {% if i.hide %}
        {% else %}
            {#            <P align="middle"><a href="{% url 'confirmation_booking' i.id %}"#}
            {#                                 class="btn btn-primary btn-lg btn-warning">{{ i }}</a></P>#}
            <div class="col-lg-3 col-md-4 mb-3" style="width: 18rem;">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUQ30X9zHfGTkhk45n6heuUTyssEW99ElxRQ&usqp=CAU"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Room No: {{ i }}</h5>
                        <div class="card-footer">
                            <a href="{% url 'confirmation_booking' i.id %}" class="btn btn-primary">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        {% endif %}
    {% endfor %}


{% endblock %}